.Equations {
	display: flex;
	width: 90%;
	height: 90%;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	font-size: 0.8rem;
}

.Equations > * {
	padding: 10px;
	margin: 5px;
	background: rgba(255, 255, 255, 0.74);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
}
 

@media (max-width: 991px) {
	.Equations {
		text-align: center;
		width: fit-content;
		flex-direction: column;
		flex-wrap: nowrap;
		margin-bottom: 20px;
	}

}