.PopulationChart {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background: rgba(255, 255, 255, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 1); 
  padding: 5px;
}

@media (max-width: 991px) {
  .PopulationChart {
    width: 85%;
    grid-template-columns: repeat(10, 1fr);
  }
}