.DataDisplay {
	width: 80%;
	display: flex;
	justify-content: space-around;

}

.DataDisplay__data {
	display: flex;
	align-items: center;
	margin: 10px;
	font-size: 1.2rem;
}

.DataDisplay__colorBox {
	width: 22px;
	height: 22px;
	margin: 5px 10px;
}

@media (max-width: 991px) {
	.DataDisplay {
		margin-top: 40px;
		width: 100%;
	}

	.DataDisplay__data {
		font-size: 0.9rem;
		flex-direction: column;
		margin: 5px;
		text-align: center;
	}
}