* {
  margin: 0;
  padding: 0;
}  

.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #FFFCE8; 
  font-family: "Geologica", sans-serif;
  color: #100007;
}

.App h1 {
  margin: 30px;
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: 
    1px 1px 0px #00000062,
    -1px 1px 0px #00000062,
    1px -1px 0px #00000062, 
    -1px -1px 0px #00000062;
}

.App__sideBar {
  color: #F6EDE3;
  background-color: #100007;
	width: 25%;
}

.App__menuIcon {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 100;
  top: 5px;
  left: 10px;
}

@media (max-width: 1100px) {
  .App h1 {
    font-size: 1.8rem;
  }
  
}

@media (max-width: 991px) {
  .App__sideBar {
    z-index: 1000;
    width: 0;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    transition: all ease .5s;
    top: 0;
    left: 0;
  }
  
  .App__sideBarOpen {
    width: 100vw;
    transition: all ease .5s;
  }
}

@media (max-width: 387px) { 
  .App h1 {
    font-size: 2rem;
  }
}
